/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */



 /*
 Indigo
500 #3F51B5
50#E8EAF6
100#C5CAE9
200#9FA8DA
300#7986CB
400#5C6BC0
500#3F51B5
600#3949AB
700#303F9F
800#283593
900#1A237E
 blue grey
500 #607D8B
50#ECEFF1
100#CFD8DC
200#B0BEC5
300#90A4AE
400#78909C
500#607D8B
600#546E7A
700#455A64
800#37474F
900#263238
*/
#form{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:center;
}
#overlay{
	height:100vh;
	width:100vw;
	background-color:rgba(0,0,0,0.3);
	position:absolute;
	z-index:999999999;
	display:none;
	vertical-align:middle;
}
#login_form{
	margin:auto;
	margin-top:1em;
	display:none;
	max-width:40vh;
	background-color:white;
	padding:1em;
}
#lock{
	height:40%;
}
#lock2{
	height:1em;
}
#top{
	width:100vw;
	height: 50px;
	display:flex;
	position: absolute;
	z-index:99999;
	align-items:center;
	padding-left:5px;
}
#top img{
	height: 40px;
	vertical-align: top !important;
	cursor:pointer;
}
#map {
	margin-top:50px;
  height: 80vh;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height:90vh;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:column;
}
#interface{
	width:100vw;
}
#peek{
	height:10vh;
	width:100vw;
	background-color:#3F51B5;
	display:flex;
	justify-content:center;
	align-items:center;
}
#drop_interface{
	height: 50vh;
	bottom:0vh;
	display:none;
	background-color:white;
	width:100vw;
}
#colour_picker{
	width:100vw;
	display:flex;
	justify-content:center;
	margin-top:2em;
	margin-bottom:2em;
}
.colour_box{
	width:20vw;
	height:16vw;
	padding:7px;
	flex-basis:1;

	border:3px solid white;
}
.selected{
	border:3px solid #5f5fc4;
}
.not_selected{
	border:3px solid white;
}
#red{
	background-color:#F44336;
}
#green{
background-color:#43A047;
}
#blue{
background-color:#1E88E5;
}
#orange{
	background-color:#EF6C00;
}
#purple{
background-color:#9C27B0;
}
#black{
background-color:#000000;
}
#post_button{
	display:flex;
	justify-content:center;
	margin:2em;
}
#post_pixel{
	background-color:#828593;
    border: none;
    color: #dddddd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
#post_and_protect{
	background-color:#828593;
    border: none;
    color: #dddddd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
li{
		font-family: 'Work Sans', sans-serif;
	-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
cursor:pointer;
margin-left:auto;
display:inline;
padding-right:1em;
}
.input_sign_in{
	margin:1em;
}
.button2{
	background-color:#3F51B5;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
.text{
	color:black;
		margin:0;
	font-family: 'Work Sans', sans-serif;
	-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
p, button{
	margin:0;
	font-family: 'Work Sans', sans-serif;
	color:white;
	-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
h1, h2, h3 {
	cursor:pointer;
	font-weight:700;
	color:rgb(63, 81, 181);
margin:0px;
font-family: 'Space Mono', monospace;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
font-size:2em;
}
ul{
	list-style-type: none;
	margin:0;
}
#left{

display:inline-block;
}
#right{
	margin-left:auto;
	display:inline-block;
}
